body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
  padding-top: 20px;
  background-color: bisque;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  background-color: darkred !important;
}

.brand-logo {
  color: snow;
  text-decoration: none;
  margin-left: 10px;
  font-size: xx-large;
}

.nav-link {
  color: snow;
  font-size: xx-large;
  margin-right: 15px;
}

#login-link, #logout-link {
  margin-right: 35px;
}

.brand-logo:hover, .nav-link:hover {
  text-decoration: underline;
  color:lightyellow;
}

.text-center {
  text-align: center;
}

h1 {
  color: darkred;
  margin-bottom: 20px;
}

.accordion-button {
  background-color: darkred !important;
  color: snow !important;
  font-weight: bold;
}

.accordion-item, .accordion-body, table, tr, td {
  background-color: transparent !important;
}

tr:hover {
  background-color: lightcoral !important;
  color: lightyellow !important;
  border-radius: 50% !important;
}

.dish-image {
  height: 90px;
  width: 90px;
}

.dish-name, .dish-price {
  color: darkred !important;
  font-weight: bold;
}

.btn {
  background-color: darkred !important;
  color: snow !important;
}

.btn-hide {
  background-color: transparent !important;
  color: black !important;
}

.btn-group {
  margin: 0 auto;
}

.btn:hover {
  background-color: chocolate !important;
  color: black !important;
}

.card {
  background-color: snow;
}

.card-title, .related-headers {
  color: darkred;
  font-weight: bold;
}

.card-subtitle {
  color: darkred;
}

.card-body p {
  color: darkred;
}

.card-link {
  color: darkred;
  font-weight: bold;
  text-decoration: none;
}

.card-link:hover {
  color: darkred;
  text-decoration: underline !important;
  font-weight: bolder;
}

.list-group-item, .list-group-item {
  color: darkred;
  background-color: snow;
}

.badge:hover {
  background-color: darkred !important;
}
em {
  font-size: smaller;
}

#update_stock, #stock_take, #add_to_order, #go_to {
  min-height: 50px;
}

#addingredient {
  top: 30px;
}

.related-info {
  margin: 10px;
}

#supplier_reference {
  max-width: 400px;
}

.form-check {
  margin-left: 20px !important;
}

input[type=number] {
  max-width: 155px;
}

.quantity-label {
  padding: 5px !important;
}

#image-upload {
  margin: 0 auto;
}

.input-group {
  max-width: 100%;
}

#add_preparation_form {
  margin: 15px auto;
}

textarea {
  flex-grow: 1;
}

#qr-reader {
  margin: 0 auto;
}

.text-end {
  text-align: end;
}

.toast-container {
  top: 75px !important;
  right: 0 !important;
}

.toast-header {
  background-color: brown;
  color: snow;
}

.toast-body {
  background-color: snow;
  color: brown;
}

.overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: darkred;
  z-index: -99999;
}

.please-rotate {
  margin-top: 200px;
  text-align: center;
  color: snow;
}

#edit_profile {
  display: none;
}

#edit, #save {
  cursor: pointer;
}

.hidden {
  display: none
}

@media (max-width: 799px) {
  .overlay {
    z-index: 99;
  }
}