body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.sidenav li > a {
  font-size: 36px;
}

em {
  font-size: smaller;
}

#update_stock, #stock_take, #add_to_order, #go_to {
  min-height: 50px;
}

#addingredient {
  top: 30px;
}