{% from 'macros.html' import display_messages, display_ingredients %}
{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">
        Add delivery Page
    </h1>
    <div class="text-center">
        <div class="btn-group">
            <a href="{{ url_for('get_deliveries', supplier_id=supplier_id) }}" class="btn">
                Back to Deliveries
            </a>
            <a href="{{ url_for('dashboard') }}" class="btn">
                Dashboard
            </a>
            <a href="{{ url_for('logout') }}" class="btn">
                Logout
            </a>
        </div>
    </div>
    <hr>
    <form action="" method="POST" id="add_delivery_form">
        <div class="flex">
            <div class="form-floating mb-3">
                <input id="supplier_reference" class="form-control" name="supplier_reference" type="text">
                <label for="supplier_reference">Supplier reference</label>
            </div>
            <div class="form-floating mb-2">
                <textarea id="info" class="form-control" name="info"></textarea>
                <label for="info">Info</label>
            </div>
        </div>
      {{ display_ingredients(ingredients) }}
    </form>
    <button class="btn" id="submitform">Submit</button>
    <hr>
{% endblock %}