{% from 'macros.html' import display_messages %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">Grant role</h1>

<a href="{{ url_for('dashboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Dashboard</button>
</a>
<a href="{{ url_for('get_employees') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Back to staff</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>
<hr>
{{ display_messages(messages) }}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-comment-dots"></i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label class="active" for="autocomplete-input">Search user</label>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card brown darken-4">
          <div class="card-content lime-text text-lighten-4">
            <span class="card-title"></span>
            <p>ID: <span id="user-id"></span></p>
          </div>
        </div>
    </div>
    <form action="" method="POST" id="hire-form">
        <div class="input-field col s12">
            <select id="role" name="role">
                <option value="" disabled selected>Hire as..</option>
                {% if is_owner %}
                <option value="1">Manager</option>
                {% else %}
                <option value="2" disabled>Manager</option>
                {% endif %}
                <option value="2">Chef</option>
                <option value="3">Waiter</option>
            </select>
            <label>Give role</label>
        </div>
    </form>
    <button class="btn waves-effect waves-light brown darken-4 lime-text text-lighten-4" id="submitform">Hire</button>
</div>
<br>
{% endblock %}