{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Add Ingredient Page
</h1>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('add_ingredient', supplier_id=supplier_id)}}">
    {{ form.hidden_tag() }}
    {{ form.name }}
    {{ form.supplier_id  }}
    {{ form.submit }}
</form>
<hr>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}