{% from 'macros.html' import display_messages %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Add Ingredient
</h1>
<div class="btn-group">
    <a href="{{ url_for('get_supplier', supplier_id=supplier.id) }}" class="btn">
      Back to {{ supplier.name }}
    </a>
    <a href="{{ url_for('dashboard') }}" class="btn">
      Dashboard
    </a>
    <a href="{{ url_for('logout') }}" class="btn">
      Logout
    </a>
  </div>
<hr>
{{ display_messages(messages) }}
<form method="POST" action="{{ url_for('add_ingredient', supplier_id=supplier.id)}}">
    {{ form.hidden_tag() }}
    {{ form.name(placeholder="Ingredient Name") }}
    {{ form.supplier_id(value=supplier.id, hidden=True) }}
    {{ form.description(placeholder="Description") }}
    {{ form.submit }}
</form>
{% endblock %}