{% from "macros.html" import display_messages, display_ingredients, display_manufactored_ingredients, display_employee_menu_items %}
{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">
      Add wastages
    </h1>
    <div class="text-center">
        <div class="btn-group">
            <a href="{{ url_for('get_wastages') }}" class="btn">
                Back to Wastages
            </a>
            <a href="{{ url_for('dashboard') }}" class="btn">
                Dashboard
            </a>
            <a href="{{ url_for('logout') }}" class="btn">
                Logout
            </a>
        </div>
    </div>
    <hr>
    <form action="" method="POST" id="add_wastages_form">
        <div class="row">
            <div class="col s12 input-group">
                <span class="input-group-text">Info</span>
                <textarea id="info" name="info" class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <h5> Ingredients</h5>
                {{ display_ingredients(ingredients) }}
            </div>
            <div class="col s6">
                <h5>Manufactored items</h5>
                {{ display_manufactored_ingredients(manufactored_ingredients) }}
            </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light" id="submitform">Submit</button>
{% endblock %}