{% from 'macros.html' import display_reply %}
{% extends "base.html" %}
{% block headscripts %}
<script>
    const user = {
        f_name: "{{ f_name }}",
        l_name: "{{ l_name }}",
        email: "{{ email }}",
        web3_address: "{{ web3_address }}",
        is_owner: "{{ is_owner }}",
        is_manager: "{{ is_manager }}",
        is_chef: "{{ is_chef }}",
        is_waiter: "{{ is_waiter }}"
    }
</script>
{% endblock %}
{% block content %}
<h1>Welcome to your dashboard</h1>
<p>Account: {{ web3_address }}</p>
{% if email != (web3_address + '@internal.kitchenmanager') %}
<p>Email:  {{ email }}</p>
{% endif %}
{% if (f_name + l_name) != '' %}
<p>User:  {{ f_name + " " + l_name }}</p>
{% endif %}
<hr>
{% if is_manager %}
<a href="{{ url_for('get_employees') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Staff</button>
</a>
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
<a href="{{ url_for('stockmanagement') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Manage</button>
</a>
<a href="">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Sales</button>
</a>
<a href="{{ url_for('get_all_placedorders') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Placed Orders</button>
</a>
<a href="{{ url_for('get_all_deliveries') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Deliveries</button>
</a>
<a href="{{ url_for('get_all_recipes') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Recipes</button>
</a>
{% endif %}
{% if is_chef %}
<a href="{{ url_for('get_all_recipes') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Recipes</button>
</a>
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
{% endif %}
{% if is_waiter %}
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
{% endif %}
<a href="{{ url_for('messageboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Messageboard</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>
<hr>
{% for my_message in my_messages  %}
<div class="row">
    <div class="col s8 push-s1">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Subject {{my_message.subject}}</span>
          <p><em>{{my_message.sender_id}} @ {{my_message.board}}</em></p>
          <p><em>{{my_message.timestamp}}</em></p>
          <p>{{my_message.message}}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('delete_message', message_id=my_message.id) }}">Delete</a>
        </div>
      </div>
    </div>
</div>
{{ display_reply(my_message) }}
{% endfor %}
{% endblock %}