{% from 'macros.html' import display_reply, display_employee_menu_items, display_messages %}
{% extends "base.html" %}
{% block headscripts %}
    <script>
        const user = {
            f_name: "{{ f_name }}",
            l_name: "{{ l_name }}",
            email: "{{ email }}",
            web3_address: "{{ web3_address }}",
            is_owner: "{{ is_owner }}",
            is_manager: "{{ is_manager }}",
            is_chef: "{{ is_chef }}",
            is_waiter: "{{ is_waiter }}"
        }
    </script>
{% endblock %}
{% block content %}
    <h1 class="text-center">Welcome to your dashboard</h1>
    {{ display_employee_menu_items(is_manager,is_chef,is_waiter) }}
    <div class="container-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Account: {{ web3_address }}</h5>
                {% if email != (web3_address + '@internal.kitchenmanager') %}
                    <p><em>Email:  {{ email }}</em></p>
                {% endif %}
                {% if (f_name + l_name) != '' and (f_name + l_name) != 'EOA EOA' %}
                    <p><em>User:  {{ f_name + " " + l_name }}</em></p>
                {% endif %}
                {% if phone != '' %}
                    <p><em>Phone: {{ phone }}</em></p>
                {% endif %}
                <a class="card-link" id="edit">Edit</a>
                <a class="card-link" id="save">Save</a>
                <form id="edit_profile" class="mt-3">
                    <div>
                        <label for="f_name">First name</label>
                        <input class="form-control" type="text" id="f_name" name="f_name" value="{% if f_name != 'EOA' %}{{ f_name }}{% endif %}">
                    </div>
                    <div>
                        <label for="l_name">Last name</label>
                        <input class="form-control" type="text" id="l_name" name="l_name" value="{% if l_name != 'EOA' %}{{ l_name }}{% endif %}">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" value="{% if email != (web3_address + '@internal.kitchenmanager') %}{{ email }}{% endif %}">
                    </div>
                    <div>
                        <label for="phone">Phone</label>
                        <input class="form-control" type="text" id="phone" name="phone" value="{{ phone }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for my_message in my_messages %}
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <span class="card-title">Subject {{my_message.subject}}</span>
                    <p><em>{{my_message.sender_id}} @ {{my_message.board}}</em></p>
                    <p><em>{{my_message.timestamp}}</em></p>
                    <p>{{my_message.message}}</p>
                </div>
                <div class="card-action">
                    <a class="card-link" href="{{ url_for('delete_message', message_id=my_message.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block overlay %}
    {% if not is_manager and not is_chef and not is_waiter and not is_owner %}
        <div class="overlay">
        <h1 class="please-rotate">
            Please rotate your device
        </h1>
        </div>
    {% endif %}
{% endblock %}