{% extends "base.html" %}
{% block headscripts %}
<script>
    const user = {
        f_name: "{{ f_name }}",
        l_name: "{{ l_name }}",
        email: "{{ email }}",
        web3_address: "{{ web3_address }}",
        is_owner: "{{ is_owner }}",
        is_manager: "{{ is_manager }}",
        is_chef: "{{ is_chef }}",
        is_waiter: "{{ is_waiter }}"
    }
</script>
{% endblock %}
{% block content %}
<h1>Welcome to your dashboard</h1>
<p>Account: {{ web3_address }}</p>
{% if email != (web3_address + '@internal.kitchenmanager') %}
<p>Email:  {{ email }}</p>
{% endif %}
{% if (f_name + l_name) != '' %}
<p>User:  {{ f_name + " " + l_name }}</p>
{% endif %}
{% for message in messages  %}
<hr>
<p>Message ID: {{ message.id }}</p>
<p>Message: {{ message.message }}</p>
<p>To: {{ message.board }}</p>
<p>Sent:  {{ message.timestamp }}</p>
{% endfor %}
<hr>
<a href="{{ url_for('get_employees') }}">Staff</a>
<br>
<a href="{{ url_for('add_employee') }}">Add_employee</a>
<br>
<a href="{{ url_for('get_suppliers')  }}">Suppliers</a>
<br>
<a href="{{ url_for('add_supplier')  }}">Add_suppliers</a>
<br>
<a href="{{ url_for('messageboard') }}">Message Board</a>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}