{% from 'macros.html' import display_placed_order, display_messages, display_employee_menu_items %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Deliveries
</h1>
<a href="{{ url_for('dashboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Dashboard</button>
</a>
<a href="{{ url_for('get_all_deliveries', supplier_id=placedorder.supplier_id) }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Back to pdeliveries</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>
<hr>
{{ display_messages(messages) }}
<div class="container">
    <form action="" id="delivery"></form>
    {{ display_table_ingredient_quantities(ingredients, placedorder.ingredient_quantities) }}
    </form>
    <hr>
</div>
{% endblock %}