{% from 'macros.html' import display_messages %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Login Page
</h1>
{{ display_messages(messages) }}
<form method="POST" action="" id="login_form">
    <div class="row">
        <!-- Metamask -->
        <div class="col s2 push-s1">
            <img src="{{ url_for('static', filename='images/metamask.svg') }}" alt="Metamask sign in" id="metamask">
        </div>
        <!-- Google -->
        <div class="col s2 push-s1">
            <div id="g_id_onload"
                data-client_id="{{ g_client_id }}"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="icon"
                data-shape="circle"
                data-theme="outline"
                data-text="continue_with"
                data-size="large">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
</form>
<button class="btn waves-effect waves-light" id="submitform">Login</button>
<a href="{{ url_for('register') }}">
  <button class="btn waves-effect waves-light">Register</button>
</a>
{% endblock %}