{% macro display_messages(messages) %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}

{% macro display_ingredients(ingredients) %}
{% for ingredient in ingredients %}
<div class="row">
  <p class="col s7">
    <label>
      <input type="checkbox" id="ingredient_{{ingredient.id}}" name="ingredient{{ingredient.id}}" class="myCheckbox" />
      <span>{{ingredient.name}} </span>
    </label>
  </p>
  <div class="input-field col s3 push-s1 view-toggle">
    <input placeholder="0" id="ingredient_quantity_{{ingredient.id}}" name="ingredient_quantity_{{ingredient.id}}"
      type="number" class="validate">
    <label for="quantity{ingredient.id}">grams</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_manufactored_ingredients(manufactored_ingredients) %}
{% for manufactored_ingredient in manufactored_ingredients %}
<div class="row">
  <p class="col s7">
    <label>
      <input type="checkbox" id="manufactored_ingredient_{{manufactored_ingredient.id}}"
        name="manufactored_ingredient_{{manufactored_ingredient.id}}" />
      <span>{{manufactored_ingredient.name}}</span>
    </label>
  </p>
  <div class="input-field col s3 push-s1 view-toggle">
    <input placeholder="0" id="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}"
      name="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}" type="number" class="validate">
    <label for="quantity{manufactored_ingredient.id}">portions</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_board_messages(board_messages) %}
{% for board_message in board_messages %}
<div class="row">
  <div class="col s8 push-s1">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Subject {{board_message.subject}}</span>
        <p><em>{{board_message.sender_id}} @ {{board_message.board}}</em></p>
        <p><em>{{board_message.timestamp}}</em></p>
        <p>{{board_message.message}}</p>
      </div>
      <div class="card-action">
        <a href="#">Delete</a>
        <a href="{{ url_for('answer_message', message_id=board_message.id) }}">Answer</a>
      </div>
    </div>
  </div>
</div>
<br>
{{ display_reply(board_message) }}
<hr>
{% endfor %}
{% endmacro %}

{% macro display_reply(board_message)%}
{% for reply in board_message.replies %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Answer to: {{board_message.subject}}</span>
        <p><em>{{reply.timestamp}}</em></p>
        <p>{{reply.reply}}</p>
      </div>
      <div class="card-action">
        <a href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}

{% macro display_placed_order(placed_orders)%}
{% for placed_order in placed_orders %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">From supplier: {{ placed_order.supplier_id }}</span>
        <p><em>{{placed_order.dateTime}}</em></p>
      </div>
      <div class="card-action">
        <a href="#">Delete</a>
      </div>
      <div class="card-action">
        <a href="{{ url_for('get_order', supplier_id=placed_order.supplier_id, order_id=placed_order.id)}}">view/Update</a>
      </div>
      <div class="card-action">
        <a href="#">Send</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}

{% macro display_deliveries(deliveries)%}
{% for delivery in deliveries %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">From supplier: {{ delivery.supplier_id }}</span>
        <p><em>{{delivery.date}}</em></p>
      </div>
      <div class="card-action">
        <a href="{{ url_for('get_delivery', supplier_id=delivery.supplier_id, delivery_id=delivery.id)}}">View</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}