{% macro display_messages(messages) %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}

{% macro display_ingredients(ingredients) %}
{% for ingredient in ingredients %}
<div class="row">
  <p class="col s7">
    <label>
      <input type="checkbox" id="ingredient_{{ingredient.id}}" name="ingredient{{ingredient.id}}" class="myCheckbox" />
      <span>{{ingredient.name}} </span>
    </label>
  </p>
  <div class="input-field col s3 push-s1 view-toggle">
    <input placeholder="0" id="ingredient_quantity_{{ingredient.id}}" name="ingredient_quantity_{{ingredient.id}}"
      type="number" class="validate">
    <label for="ingredient_quantity_{{ingredient.id}}">grams</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_manufactored_ingredients(manufactored_ingredients) %}
{% for manufactored_ingredient in manufactored_ingredients %}
<div class="row">
  <p class="col s7">
    <label>
      <input type="checkbox" id="manufactored_ingredient_{{manufactored_ingredient.id}}"
        name="manufactored_ingredient_{{manufactored_ingredient.id}}" />
      <span>{{manufactored_ingredient.name}}</span>
    </label>
  </p>
  <div class="input-field col s3 push-s1 view-toggle">
    <input placeholder="0" id="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}"
      name="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}" type="number" class="validate">
    <label for="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}">portions</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_board_messages(board_messages) %}
{% for board_message in board_messages %}
<div class="row">
  <div class="col s8 push-s1">
    <div class="card  brown darken-4">
      <div class="card-content lime-text text-lighten-4">
        <span class="card-title">Subject {{board_message.subject}}</span>
        <p><em>{{board_message.sender_id}} @ {{board_message.board}}</em></p>
        <p><em>{{board_message.timestamp}}</em></p>
        <p>{{board_message.message}}</p>
      </div>
      <div class="card-action">
        <a class="lime-text" href="#">Delete</a>
        <a class="lime-text" href="{{ url_for('answer_message', message_id=board_message.id) }}">Answer</a>
      </div>
    </div>
  </div>
</div>
<br>
{{ display_reply(board_message) }}
<hr>
{% endfor %}
{% endmacro %}

{% macro display_reply(board_message)%}
{% for reply in board_message.replies %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card brown darken-4">
      <div class="card-content lime-text text-lighten-4">
        <span class="card-title">Answer to: {{board_message.subject}}</span>
        <p><em>{{reply.timestamp}}</em></p>
        <p>{{reply.reply}}</p>
      </div>
      <div class="card-action">
        <a class="lime-text" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}


{% macro display_placed_order(placed_orders)%}
{% for placed_order in placed_orders %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card brown darken-4">
      <div class="card-content lime-text text-lighten-4">
        <span class="card-title">From supplier: {{ placed_order.supplier_id }}</span>
        <p><em>{{placed_order.dateTime}}</em></p>
      </div>
      <div class="card-action">
        <a class="lime-text" href="#">Delete</a>
      </div>
      <div class="card-action">
        <a class="lime-text" href="{{ url_for('get_placedorder', supplier_id=placed_order.supplier_id, order_id=placed_order.id)}}">view/Update</a>
      </div>
      <div class="card-action">
        <a class="lime-text" href="#">Send</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}

{% macro display_deliveries(deliveries)%}
{% for delivery in deliveries %}
<div class="row">
  <div class="col s8 push-s3">
    <div class="card brown darken-4">
      <div class="card-content lime-text text-lighten-4">
        <span class="card-title">From supplier: {{ delivery.supplier_id }}</span>
        <p><em>{{delivery.date}}</em></p>
      </div>
      <div class="card-action">
        <a class="lime-text" href="{{ url_for('get_delivery', supplier_id=delivery.supplier_id, delivery_id=delivery.id)}}">View</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}
{% endmacro %}

{% macro display_recipes(recipes, recipes_for)%}
{% for recipe in recipes %}
{% set recipe_for = recipes_for[recipes.index(recipe)] %}
<div class="row">
  <div class="col s8 push-s2">
    <div class="card brown darken-4">
      <div class="card-content lime-text text-lighten-4">
        <span class="card-title">{{ recipe_for.name }}</span>
        <p><em>{{recipe_for.description}}</em></p>
      </div>
      <div class="card-action">
        <a class="lime-text" href="{{ url_for('get_recipe', recipe_id=recipe.id)}}">View</a>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor  %}
{% endmacro  %}

{% macro display_table_ingredient_quantities(ingredients, ingredient_quantities) %}
{% for ingredient_quantity in ingredient_quantities %}
<div class="row">
  <p class="col s7">
    <label>
      {% set ingredient = ingredients[ingredient_quantities.index(ingredient_quantity)] %}
      <input type="checkbox" id="ingredient_{{ingredient.id}}" name="ingredient_{{ingredient.id}}" class="myCheckbox" checked disabled />
      <span>{{ingredient.name}}</span>
    </label>
  </p>
  <div class="input-field col s3 push-s1">
    <input value="{{ingredient_quantity.quantity}}" id="ingredient_quantity_{{ingredient.id}}" name="ingredient_quantity_{{ingredient.id}}"
      type="number" class="validate" disabled>
    <label for="ingredient_quantity_{{ingredient.id}}">grams</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_table_manufactored_ingredient_quantities(manufactored_ingredients, manufactored_ingredient_quantities) %}
{% for manufactored_ingredient_quantity in manufactored_ingredient_quantities %}
<div class="row">
  <p class="col s7">
    <label>
      {% set manufactored_ingredient = manufactored_ingredients[manufactored_ingredient_quantities.index(manufactored_ingredient_quantity)] %}
      <input type="checkbox" id="manufactored_ingredient_{{manufactored_ingredient.id}}" name="manufactored_ingredient_{{manufactored_ingredient.id}}" class="myCheckbox" checked disabled />
      <span>{{manufactored_ingredient.name}}</span>
    </label>
  </p>
  <div class="input-field col s3 push-s1">
    <input value="{{manufactored_ingredient_quantity.quantity}}" id="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}" name="manufactored_ingredient_quantity_{{manufactored_ingredient.id}}"
      type="number" class="validate" disabled>
    <label for="ingredient_quantity_{{manufactored_ingredient.id}}">portions</label>
  </div>
</div>
{% endfor %}
{% endmacro %}

{% macro display_employee_menu_items(is_manager,is_chef,is_waiter) %}
{% if is_manager %}
<a href="{{ url_for('get_employees') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Staff</button>
</a>
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
<a href="{{ url_for('stockmanagement') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Manage</button>
</a>
<a href="">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Sales</button>
</a>
<a href="{{ url_for('get_all_placedorders') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Placed Orders</button>
</a>
<a href="{{ url_for('get_all_deliveries') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Deliveries</button>
</a>
<a href="{{ url_for('get_all_recipes') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Recipes</button>
</a>
{% endif %}
{% if is_chef %}
<a href="{{ url_for('get_all_recipes') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Recipes</button>
</a>
<a href="{{ url_for('create_recipe') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Create Recipe</button>
</a>
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
{% endif %}
{% if is_waiter %}
<a href="{{ url_for('get_suppliers') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Suppliers</button>
</a>
{% endif %}
<a href="{{ url_for('messageboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Messageboard</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>
<hr>
{% endmacro %}