{% from 'macros.html' import display_table_ingredient_quantities, display_messages %}
{% extends "base.html" %}
{% block headscripts %}
<script>
    const supplierId = "{{ placedorder.supplier_id }}"
    const orderId = "{{ placedorder.id }}"
</script>
{% endblock %}
{% block content %}
<h1 class="center-align">
{% if placedorder %}
    Order: {{ placedorder.id }}
{% else %}
    New order
{% endif %}
</h1>
<a href="{{ url_for('dashboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Dashboard</button>
</a>
<a href="{{ url_for('get_placedorders', supplier_id=placedorder.supplier_id) }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Back to placedorders</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>
<hr>
{{ display_messages(messages) }}
<div class="container">
    <form action="" id="send-order"></form>
    {{ display_table_ingredient_quantities(ingredients, placedorder.ingredient_quantities) }}
    </form>
    <hr>
    {% if placedorder.sent %}
    <button class="btn waves-effect waves-light" id="submitform" disabled>Sent</button>
    {% else  %}
    <button class="btn waves-effect waves-light" id="submitform">Send</button>
    {% endif  %}
        {{ display_messages(messages) }}
</div>
{% endblock %}