{% from 'macros.html' import display_placed_order, display_messages,display_employee_menu_items %}
{% extends "base.html" %}
{% block content %}
<h1 class="text-center">
    Orders Page
</h1>
<div class="text-center">
  <div class="btn-group">
    <a href="{{ url_for('stockmanagement') }}" class="btn">
      Back to Manage
    </a>
    <a href="{{ url_for('logout') }}" class="btn">
      Logout
    </a>
  </div>
</div>
<hr>
{{ display_messages(messages) }}
{{ display_placed_order(orders_data) }}
{% endblock %}