{% from 'macros.html' import display_recipe_ingredient_quantities, display_recipe_manufactored_ingredient_quantities, display_messages %}
{% extends "base.html" %}
{% block headscripts %}
<script>
    const is_chef = "{{is_chef}}";
    const is_manager = "{{is_manager}}";
</script>
{% endblock %}
{% block content %}
<h1 class="center-align">
    {{item.name}} recipe <i class="fa-solid fa-pen-to-square" id="edit"></i>
</h1>
{{ display_messages(messages) }}
<form action="" method="POST" id="edit-recipe-form">
    <div class="row">
        <div class="input-field col s4">
            <input type="text" id="name" name="name" value="{{item.name}}" disabled>
        </div>
        <div class="input-field col s4 push-s1">
            <select id="itemkind" name="itemkind" disabled>
                <option value="" disabled>Choose your option</option>
                <option value="1" selected>Starter</option>
                <option value="2">Pasta</option>
                <option value="3">Pizza</option>
                <option value="4">Main</option>
                <option value="5">Dessert</option>
                <option value="6">Pizza topping</option>
                <option value="7">Water</option>
                <option value="8">Juice</option>
                <option value="9">Soft drink</option>
                <option value="10">Wine</option>
                <option value="11">Beer</option>
                <option value="12">Distillates</option>
                <option value="13">Other</option>
              </select>
              <label>Kind of item</label>
            </select>
        </div>
        <div class="input-field col s2 push-s2">
            <input type="number" id="portions" name="portions" value="{{recipe.portions}}" disabled>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <textarea id="description" name="description" class="materialize-textarea" disabled>
                {{item.description}}
            </textarea>
            <label for="description">Description</label>
        </div>
        <div class="col s2 push-s1 input-field">
            <p>
                <label>
                    {% if item.sellable_item %}
                        <input type="checkbox" id="sellable_item_checkbox" name="sellable_item_checkbox" checked disabled />
                    {% else %}
                        <input type="checkbox" id="sellable_item_checkbox" name="sellable_item_checkbox" disabled />
                    {% endif %}
                    <span>Sellable</span>
                </label>
            </p>
        </div>
        <div class="input-field col s2 push-s2">
            <input type="number" id="price" name="price" value="{{item.price}}" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s10">
                    <i class="fa-solid fa-comment-dots"></i>
                    <input type="text" id="autocomplete-input" class="autocomplete" disabled>
                    <label class="active" for="autocomplete-input">Search ingredients</label> 
                </div>
            </div>
        </div>
        <div class="col s6" id="ingredients">
            <h5> Ingredients</h5>
            {{ display_recipe_ingredient_quantities(ingredients, recipe.ingredient_quantities) }}    
        </div>
        <div class="col s6" id="manufactoredIngredients">
            <h5>Manufactored ingredients</h5>
            {{ display_recipe_manufactored_ingredient_quantities(manufactored_ingredients, recipe.manufactoredingredient_quantities) }}
        </div>
    </div>
</form>
<button class="btn waves-effect waves-light" id="submitform" disabled>Update</button>
<button class="btn waves-effect waves-light" id="prepare">Prepare</button>
<form id="add_preparation_form">
    <div class="input-field inline">
        <input id="portions" name="portions" type="number" class="validate">
        <label for="portions">Portions</label>
    </div>
</form>
<hr>
<a href="{{ url_for('add_ingredient', supplier_id=0)  }}">Add Ingredient</a>
<br>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}