{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Register Page
</h1>
<form method="POST" action="" id="register_form">
    <div class="row">
        <div class="input-field col s6">
        </div>
        <!-- Metamask -->
        <div class="col s2 push-s1">
            <img src="{{ url_for('static', filename='images/metamask.svg') }}" alt="Metamask sign in" id="metamask">
        </div>
        <!-- Google -->
        <div class="col s2 push-s1">
            <div id="g_id_onload"
                data-client_id="{{ g_client_id }}"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="icon"
                data-shape="circle"
                data-theme="outline"
                data-text="continue_with"
                data-size="large">
            </div>
            <p id="googleResponse" class="center-align"></p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="f_name" name="f_name" type="text" class="validate">
          <label for="f_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="l_name" type="text" name="l_name" class="validate">
          <label for="l_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="confirm_password" name="confirm_password" type="password" class="validate">
            <label for="confirm_password">Password</label>
          </div>
      </div>
</form>
<button class="btn waves-effect waves-light" id="submitform">Register</button>
<br>
<a href="{{ url_for('login') }}" class="brown-text text-darken-3">Login</a>
{% endblock %}