{% from 'macros.html' import display_employee_menu_items %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Send a message or inquiry
</h1>
<div class="btn-group">
<a href="{{ url_for('messageboard') }}" class="btn">
    Back to Messageboard
</a>
<a href="{{ url_for('dashboard') }}" class="btn">
    Dashboard
</a>
</div>
<hr>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.board_id }}
    {{ form.subject(placeholder="Subject:") }}
    {{ form.message(placeholder="Yuor message") }}
    {{ form.submit }}
</form>
<br>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}