{% from 'macros.html' import display_employee_menu_items }
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Register Page
</h1>
{{display_employee_menu_items(is_manager,is_chef,is_waiter)}}
<form action="" method="POST">
<div class="row">
    <div class="input-field col s6">
        <input type="text" name="subject" id="subject" placeholder="Subject">
        <label for="subject">Subject</label>
    </div>
    <div class="input-field col s12">
        <textarea id="message" name="message" class="materialize-textarea"></textarea>
        <label for="message">Your message here...</label>
      </div>
</div>
</form>
<br>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}