{% from 'macros.html' import display_messages %}
{% extends "base.html" %}
{% block content %}
<h1 class="center-align">
    Staff Page
</h1>
{{ display_messages(messages) }}

<a href="{{ url_for('dashboard') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Dashboard</button>
</a>
<a href="{{ url_for('add_employee') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Give role</button>
</a>
<a href="{{ url_for('logout') }}">
  <button class="btn waves-effect waves-light brown lime-text darken-4 text-lighten-4">Logout</button>
</a>

<br>
{% for employee in employees %}

<div class="row">
    <div class="col s8 push-s2">
      <div class="card brown darken-4">
        <div class="card-content lime-text text-lighten-4">
          <span class="card-title"> {{ employee.f_name + " " + employee.l_name}}</span>
          <p>Email: {{ employee.email }}</p>
        </div>
        <div class="card-action">
          <a class="lime-text" href="#">Send message</a>
          <a class="lime-text" href="#">Remove</a>
        </div>
      </div>
    </div>
</div>
            
{% endfor %}
{% endblock %}