{% extends "base.html" %}
{% block headscripts %}
{% endblock %}
{% block content %}
<h1 class="center-align">
    Stock Management Page
</h1>

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-comment-dots"></i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label class="active" for="autocomplete-input">Search ingredients</label>  <!-- to be implemented -->
            </div>
        </div>
    </div>
</div>
<div class="row" id="ingredient"></div>
<div class="row">
  <div class="col s12">
    <ul class="tabs" id="tabs">
      <li class="tab col s2"><a class="active" href="#recipes">RECIPES</a></li>
      <li class="tab col s2"><a href="#placedorders">PLACED ORDERS</a></li>
      <li class="tab col s2"><a href="#deliveries">DELIVERIES</a></li>
      <li class="tab col s2"><a href="#preparations">PREPARATIONS</a></li>
      <li class="tab col s2"><a href="#wastages">WASTAGES</a></li>
      <li class="tab col s2"><a href="#orders">SALES</a></li>
    </ul>
  </div>
  <div class="row view-toggle" id="recipes"></div>
  <div class="row view-toggle" id="placedorders"></div>
  <div class="row view-toggle" id="deliveries"></div>
  <div class="row view-toggle" id="preparations"></div>
  <div class="row view-toggle" id="wastages"></div>
  <div class="row view-toggle" id="orders"></div>
</div>


<hr>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
{% endblock %}