{% from 'macros.html' import display_employee_menu_items, display_messages %}
{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">
        Stock Management Page
    </h1>
    {{display_employee_menu_items(is_manager,is_chef,is_waiter)}}
    <div class="form-group">
        <label for="autocomplete-input">
            <i class="fa-solid fa-comment-dots"></i>
            <span class="sr-only">Search for ingredients</span>
        </label>
        <input type="text" id="autocomplete-input" class="form-control" placeholder="Search for ingredients">
    </div>
    <div class="card mt-4 hidden" id="ingredient">
        <div class="card-body">
            <h5 class="text-center card-title" id="name"></h5>
            <p id="description"></p>
            <p id="stock_level"></p>
            <form id="ingredient_quantity_form">
                <div class="input-group col s3">
                    <span class="input-group-text">Stock take</span>
                    <input id="stock" name="stock" type="number" disabled>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-3">
        <div class="btn-group">
            <button type="button" id="add_to_order" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>ADD TO ORDER</button>
            <button type="button" class="btn" id="stock_take" disabled>STOCK TAKE</button>
            <button type="button" class="btn" id="go_to" disabled>GO TO</button>
            <button data-id="recipes" type="button" class="btn btn-hide">
                Recipes
            </button>
            <button data-id="placed_orders" type="button" class="btn btn-hide info-trigger">
                Placed orders
            </button>
            <button data-id="deliveries" type="button" class="btn btn-hide info-trigger">
                Deliveries
            </button>
            <button data-id="preparations" type="button" class="btn btn-hide info-trigger">
                Preparations
            </button>
            <button Data-id="wastages" type="button" class="btn btn-hide info-trigger">
                Wastages
            </button>
            <button data-id="stocktakes" type="button" class="btn btn-hide info-trigger">
                Stock takes
            </button>
            <button data-id="orders" type="button" class="btn btn-hide info-trigger">
                Sales
            </button>
        </div>
    </div>
    </div>
        <div id="recipes" class="related-info"></div>
        <div id="placed_orders" class="related-info"></div>
        <div id="deliveries" class="related-info"></div>
        <div id="preparations" class="related-info"></div>
        <div id="wastages" class="related-info"></div>
        <div id="stocktakes" class="related-info"></div>
        <div id="orders" class="related-info"></div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add to order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="add_to_order_form">
            <div class="modal-body">
                    <div class="input-group col s3">
                        <input id="quantity" name="quantity" type="number">
                        <span class="input-group-text">grams</span>
                    </div>
            </div>
            <div class="modal-footer">
            <button type="reset" class="btn" data-bs-dismiss="modal">Close</button>
            <button type="button" id="addToOrder" class="btn">Add</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block overlay %}
    {% if not is_manager and not is_chef and not is_waiter and not is_owner %}
        <div class="overlay">
        <h1 class="please-rotate">
            Please rotate your device
        </h1>
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    <script type="module">
        import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";
        var src = [];
        {% for ingredient in ingredients %}
            src.push({
                title: "{{ingredient.name}}",
                id: "{{ingredient.id}}",
                data: {
                    "manufactored": {% if ingredient.manufactored %}true{% else %}false{% endif %}
                },
            });
        {% endfor %}
        Autocomplete.init("#autocomplete-input", {
            items: src,
            valueField: "id",
            labelField: "title",
            highlightTyped: true,
            onSelectItem: function(e){switchGetIngredientData(e.id, e.data.manufactored, e.title)},
        });
    </script>
{% endblock %}