{% extends "base.html" %}
{% block content %}
<h1>Supplier: {{ supplier.name }}</h1>
<p>Email:  {{ supplier.email }}</p>
{% for boughtitem in boughtitems  %}
<hr>
<p>Item ID: {{ boughtitem.id }}</p>
<p>Item Name:  {{ boughtitem.name  }}</p>
<p>Desc: {{ boughtitem.description }}</p>
<p>stock:  {{ boughtitem.stock }}</p>
{% endfor %}
<hr>
<a href="{{ url_for('get_suppliers') }}">Suppliers</a>
<br>
<a href="{{ url_for('add_bought_item', supplier_id=supplier.id) }}">Add Item</a>
<br>
<a href="{{ url_for('messageboard') }}">Message Board</a>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}