{% extends "base.html" %}
{% block content %}
<h1>Supplier: {{ supplier.name }}</h1>
<p>Email:  {{ supplier.email }}</p>
{% for ingredient in ingredients  %}
<hr>
<p>Item ID: {{ ingredient.id }}</p>
<p>Item Name:  {{ ingredient.name  }}</p>
<p>Desc: {{ ingredient.description }}</p>
<p>stock:  {{ ingredient.stock_in_weight }}</p>
{% endfor %}
<hr>
<a href="{{ url_for('get_suppliers') }}">Suppliers</a>
<br>
<a href="{{ url_for('add_ingredient', supplier_id=supplier.id) }}">Add Item</a>
<br>
<a href="{{ url_for('messageboard') }}">Message Board</a>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}